@import "tailwindcss";

@theme {
  /* Definição das cores Monevo (Verde Financeiro Moderno) */
  --color-brand-50: #f0fdf4;
  --color-brand-100: #dcfce7;
  --color-brand-500: #22c55e;
  --color-brand-600: #16a34a;
  --color-brand-900: #14532d;

  /* Modo Escuro / Premium */
  --color-dark-800: #1e293b;
  --color-dark-900: #0f172a;
}

/* Reset básico usando as variáveis do Tailwind.
  Isso garante aquele fundo cinza claro profissional.
*/
body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
}